body {
  background-color: #c8d8e5;
  font-family: 'Fredoka', sans-serif; /* Font for the entire page */
}

nav {
  margin: 20px auto;  /* centers the nav bar itself */
  width: fit-content;
  display: flex;
  justify-content: center; /* centers the items */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #fef8ec;
  display: flex;  /* Ensures that the links are laid out horizontally */
}

ul li {
  margin: 8px;
}

ul li a, nav a {
  color: #72a3c3;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 16px;  /* You can adjust font-size here */
  text-align: center;
  border-radius: 20px;  /* rounded link */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
}

ul li a:hover, nav a:hover {
  background-color: #fdecd0;
  color: #000;  /* Change text color on hover */
}

/* Blurred glow effect on hover */
nav a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;  /* fully rounded */
  background: #fdecd0;
  filter: blur(20px);  /* blur effect */
  transition: width 0.35s ease, height 0.35s ease;
  z-index: -1;  /* Make sure it stays behind the text */
}

nav a:hover::before {
  width: 120%;
  height: 120%;
}
