body {
  background-color: #c8d8e5;
}  
.link {
  color: #79a2c2;
}

ul {
  list-style-type: none;
  border-radius: 20px;
  margin: 0;
  padding: 10px 20px;
  overflow: hidden;
  background-color: #fef8ec;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #fdecd0;
}

nav {
  justify-content: center;
  margin: 20px auto;  /* centers the nav bar itself */
  width: fit-content;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centers the items */
  
}

