body {
  background-color: #c8d8e5;
  font-family: 'Fredoka', sans-serif;
}


/* The Pokemon Hub */

header {
  
  position: absolute;
  width: 642.7;
  height: 44px;
  left: calc(50% - 620px/2);
  top: 16px;
  font-family: 'Fredoka';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  display:flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.65em;
  color: #81A4C4;
}

  
.link {
  color: #FCF8EC;
}

ul {
  list-style-type: none;
 /* Rectangle 2 */
  position: fixed;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 85%;
  margin: 0;
  padding: 15px 20px;
  overflow: hidden;
  background-color: #fef8ec;
  align-items: flex-end;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  text-align: center;
  
  padding: 14px 16px;
  font-size: 20px;
  text-decoration: none;
  margin: 16px 20px;
  background-color: #A9C4D7;

}

.link :hover {
  background-color: #81A4C4;
}


.active {
  background-color: #4A769F;
}

nav {
  justify-content: center;
  margin: 20px auto;  /* centers the nav bar itself */
  width: fit;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centers the items */
  
}

nav a {
  position: relative;
  text-decoration: none;
  color: #72a3c3;
  padding: 10px 20px;
  border-radius: 25px;        /* rounded link */
  overflow: hidden;           /* needed for blur masking */
  z-index: 1;
  transition: color 0.3s ease;
  font-family: 'Fredoka', sans-serif;
  font-size: 16px; /* Example font size */
}

.filter {
  position: absolute;
  width: 287px;
  height: 480px;
  left: 25px;
  top: 169px;
  border-radius: 25px;
  background: #A9C4D7;
  border-radius: 43px;
  overflow: hidden;
}

.filtitle {
  /* Rectangle 9 */

position: relative;
width: 231px;
height: 56px;
left: 24px;
background: #FCEDD0;
border-radius: 20px;
text-align: center;
}

p {
  position:relative;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 0.175em;
  align-items: center;
  margin: 29px -24px;
  width: 255px;
  justify-content: center;
  text-align: center;
}